<h1>Mi Proyecto</h1>

    <h2>Listado de enlaces</h2>

<ul>
    <li><a href="{% url 'usuario_detalle' email='andrea58@example.net' %}">Detalle de Usuario (OneToOne)</a></li>
    <li><a href="{% url 'lista_propiedades' %}">Lista de Propiedades (ManyToMany)</a></li>
    <li><a href="{% url 'detalle_categoria' id=1 %}">Detalle de Categoría (QuerySet con parámetros)</a></li>
    <li><a href="{% url 'reservas_propiedad' propiedad_id=1 %}">Reservas de una Propiedad (ManyToOne)</a></li>
    <li><a href="{% url 'comentarios_propiedad' propiedad_id=1 %}">Comentarios de una Propiedad (Reverse)</a></li>
    <li><a href="{% url 'filtrar_reservas' %}">Filtrar Reservas (AND, OR)</a></li>
    <li><a href="{% url 'categorias_sin_propiedades' %}">Categorías sin Propiedades (None intermedio)</a></li>
    <li><a href="{% url 'propiedad_precio_agregado' %}">Precio Promedio de Propiedades (Aggregate)</a></li>
    <li><a href="{% url 'usuarios_recientes' %}">Usuarios Recientes (OrderBy y limit)</a></li>
    <li><a href="{% url 'error_404' %}">Página de Error 404 Personalizada</a></li>
</ul>